body 
	font-family: arial, sans-serif 
	min-height: 100% 
	position: relative 
	&.jfk-scrollbar 
		&::-webkit-scrollbar-track-piece 
			background-clip: padding-box 
			background-color: #f5f5f5 
			border: solid #fff 
			border-width: 0 0 0 3px 
			box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
    inset -1px 0 0 rgba(0, 0, 0, 0.07) 
			&:horizontal 
				border-width: 3px 0 0 
				box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07) 
		&::-webkit-scrollbar-thumb 
			border-width: 1px 1px 1px 5px 
			&:horizontal 
				border-width: 5px 1px 1px 
		&::-webkit-scrollbar-corner 
			background-clip: padding-box 
			background-color: #f5f5f5 
			border: solid #fff 
			border-width: 3px 0 0 3px 
			box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14) 
.jfk-button 
	-webkit-border-radius: 2px 
	-moz-border-radius: 2px 
	border-radius: 2px 
	cursor: default 
	font-size: 11px 
	font-weight: 700 
	text-align: center 
	white-space: nowrap 
	margin-right: 16px 
	outline: 0 
.jfk-button-action 
	-webkit-box-shadow: none 
	-moz-box-shadow: none 
	box-shadow: none 
	background-color: #4d90fe 
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed) 
	background-image: -moz-linear-gradient(top, #4d90fe, #4787ed) 
	background-image: -ms-linear-gradient(top, #4d90fe, #4787ed) 
	background-image: -o-linear-gradient(top, #4d90fe, #4787ed) 
	border: 1px solid #3079ed 
	color: #fff 
	&:focus 
		-webkit-box-shadow: inset 0 0 0 1px #fff 
		-moz-box-shadow: inset 0 0 0 1px #fff 
		box-shadow: inset 0 0 0 1px #fff 
		border: 1px solid #fff 
		border: transparent solid 1px 
		outline: 1px solid #4d90fe 
		outline: transparent 0 
	&:active 
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3) 
		-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3) 
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3) 
		background: #357ae8 
		border: 1px solid #2f5bb7 
		border-top: 1px solid #2f5bb7 
	&:hover 
		background-color: #357ae8 
		background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8) 
		background-image: -moz-linear-gradient(top, #4d90fe, #357ae8) 
		background-image: -ms-linear-gradient(top, #4d90fe, #357ae8) 
		background-image: -o-linear-gradient(top, #4d90fe, #357ae8) 
		background-image: linear-gradient(top, #4d90fe, #357ae8) 
		border: 1px solid #2f5bb7 
		border-image: initial 
.goog-menu 
	-webkit-border-radius: 0 
	-moz-border-radius: 0 
	border-radius: 0 
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) 
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) 
	-webkit-transition: opacity 218ms 
	-moz-transition: opacity 218ms 
	-o-transition: opacity 218ms 
	transition: opacity 218ms 
	background: #fff 
	border: 1px solid rgba(0, 0, 0, 0.2) 
	cursor: default 
	font-size: 13px 
	margin: 0 
	outline: 0 
	padding: 6px 0 
	position: absolute 
.jfk-textinput 
	-webkit-border-radius: 1px 
	-moz-border-radius: 1px 
	border-radius: 1px 
	border: 1px solid #d9d9d9 
	border-top: 1px solid silver 
	font-size: 13px 
	height: 25px 
	padding: 1px 8px 
	&:focus 
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3) 
		-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3) 
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3) 
		border: 1px solid #4d90fe 
		outline: 0 
.jfk-scrollbar 
	&::-webkit-scrollbar 
		height: 16px 
		overflow: visible 
		width: 16px 
	&::-webkit-scrollbar-button 
		height: 0 
		width: 0 
	&::-webkit-scrollbar-track 
		background-clip: padding-box 
		border: solid transparent 
		border-width: 0 0 0 4px 
		&:horizontal 
			border-width: 4px 0 0 
			&:hover 
				box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1) 
			&:active 
				box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07) 
		&:hover 
			background-color: rgba(0, 0, 0, 0.05) 
			box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1) 
		&:active 
			background-color: rgba(0, 0, 0, 0.05) 
			box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
    inset -1px 0 0 rgba(0, 0, 0, 0.07) 
	&::-webkit-scrollbar-thumb 
		background-color: rgba(0, 0, 0, 0.2) 
		background-clip: padding-box 
		border: solid transparent 
		border-width: 1px 1px 1px 6px 
		min-height: 28px 
		padding: 100px 0 0 
		box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07) 
		&:horizontal 
			border-width: 6px 1px 1px 
			padding: 0 0 0 100px 
			box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset -1px 0 0 rgba(0, 0, 0, 0.07) 
		&:hover 
			background-color: rgba(0, 0, 0, 0.4) 
			box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25) 
		&:active 
			background-color: rgba(0, 0, 0, 0.5) 
			box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35) 
	&::-webkit-scrollbar-corner 
		background: 0 0 
a,
body,
div,
form,
html,
label,
span,
ul 
	margin: 0 
	padding: 0 
	border: 0 
	font-weight: inherit 
	font-style: inherit 
	font-size: 100% 
	vertical-align: baseline 
	text-decoration: none 
a 
	&:hover 
		text-decoration: underline 
	&:visited 
		color: #12c 
ul 
	list-style: none 
html 
	height: 100% 
.appbar 
	color: #d93025 
	font-size: 20px 
	margin: 25px 35px 
.gy3Eif 
	border-bottom: 1px solid #ebebeb 
div 
	&.PLLUQc 
		padding-right: 16px 
	&.Mza7yc 
		max-width: 1140px 
		min-width: 200px 
		width: 96% 
		margin: 40px 2% 0 45px 
	&.otByu 
		width: 100% 
		clear: both 
		div 
			&.yIQOUb 
				clear: both 
			&.HoCfzc 
				float: left 
				display: inline-block 
				min-width: 167px 
				min-height: 41px 
				vertical-align: middle 
				width: 50% 
			&.orcpGe 
				float: left 
				display: inline-block 
				width: 33% 
				font-size: 13px 
				font-weight: 700 
				color: #777 
				padding-left: 5px 
				vertical-align: middle 
			&.FAcADc 
				float: left 
				display: inline-block 
				min-width: 167px 
				width: 16% 
				height: 42px 
				color: #222 
				font-size: 13px 
				line-height: 16px 
				vertical-align: middle 
			&.jYcx0e 
				float: left 
				display: inline-block 
				min-width: 167px 
				min-height: 41px 
				vertical-align: middle 
				width: 50% 
				input[type="text"] 
					width: 100% 
					text-align: left 
			&.cwqNnb 
				float: left 
				display: inline-block 
				width: 32% 
				min-width: 160px 
				margin: 0 0 8px 1% 
				color: #555 
				font-size: 11px 
				padding-left: 5px 
				vertical-align: middle 
				position: relative 
				span 
					&.BFlQMb 
						color: #666 
						font-family: monospace 
						font-size: 11px 
						white-space: pre 
	&.lOTAE 
		height: 30px 
		display: table-cell 
		vertical-align: middle 
	&.Qy8Xkb 
		margin: 18px 0 
		clear: both 
		border-top: 1px solid #ebebeb 
	&.dulCv 
		display: none !important 
	&.cwqNnb 
		display: none !important 
div.lFApYd,
div.otByu div.I1Kbt 
	float: left 
	display: inline-block 
	min-width: 167px 
	width: 16% 
	font-size: 16px 
	min-height: 42px 
	font-weight: 500 
	color: #333 
	vertical-align: middle 
@media 
	(max-width 
		&: 
			1056px) 
				div.orcpGe {
    display: none !important 
} 
	div 
		&.bottom-wrapper 
			min-height: 100% 
			margin: 0 auto -60px 
	@keyframes 
		gb__a 
			0% {
    opacity: 0 
		progressmove 
			0% {
    margin-left: -100% 
	.gb_dd 
		padding: 0 0 0 15px 
		vertical-align: middle 
	.gb_4 
		display: inline-block 
		line-height: 28px 
		padding: 0 12px 
		-webkit-border-radius: 2px 
		border-radius: 2px 
	.gb_Ta
		min-width: 165px 
		padding-left: 30px 
		padding-right: 30px 
		position: relative 
		text-align: right 
		z-index: 986 
		-webkit-align-items: center 
		align-items: center 
		-webkit-justify-content: flex-end 
		justify-content: flex-end 
		-webkit-user-select: none 
.ajf8pb 
	max-height: 200px 
	z-index: 12 
	overflow: auto 
@-webkit-keyframes 
	gb__a 
		0% {
    opacity: 0 
	progressmove 
		0% {
    margin-left: -100% 
50% 
	opacity: 1 
	opacity: 1 
.gb_dd 
	&:first-child 
		padding-left: 0 
.gb_Lf 
	position: relative 
.gb_D 
	display: inline-block 
	outline: 0 
	vertical-align: middle 
	-webkit-border-radius: 2px 
	border-radius: 2px 
	-webkit-box-sizing: border-box 
	box-sizing: border-box 
	height: 30px 
	width: 30px 
#gb#gb 
	a 
		&.gb_D 
			color: #000 
			cursor: pointer 
			text-decoration: none 
.gb_C 
	.gb_D 
		background-position: -132px -38px 
		opacity: 0.55 
to 
	margin-left: 100% 
	margin-left: 100% 
#gb 
	a 
		&.gb_4 
			&.gb_4 
				cursor: default 
				text-decoration: none 
				color: #fff 
.gb_4 
	border: 1px solid #4285f4 
	font-weight: 700 
	outline: 0 
	background: #4285f4 
	background: -webkit-linear-gradient(top, #4387fd, #4683ea) 
	&:hover 
		-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) 
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) 
	&:active 
		-webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15) 
		box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15) 
		background: #3c78dc 
		background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3) 
		background: linear-gradient(top, #3c7ae4, #3f76d3) 
.gb_oc 
	overflow: hidden 
	position: relative 
	z-index: 987 
.gb_pc 
	position: absolute 
	padding: 0 20px 0 15px 
.gb_qc 
	display: inline-block 
	line-height: 0 
	outline: 0 
	vertical-align: middle 
	.gb_sc 
		display: block 
		background-position: 0 -35px 
		height: 33px 
		width: 92px 
.gb_rc 
	.gb_qc 
		position: relative 
		top: 2px 
.gb_sg 
	color: #000 
	font: 13px/27px Arial, sans-serif 
	left: 0 
	min-width: 1002px 
	position: absolute 
	top: 0 
	-webkit-user-select: none 
	width: 100% 
.gb_Sf 
	font: 13px/27px Arial, sans-serif 
	position: relative 
	height: 60px 
	width: 100% 
	background: #f1f1f1 
	& > .gb_i 
		height: 60px 
		line-height: 58px 
		vertical-align: middle 
	&::before 
		background: #e5e5e5 
		bottom: 0 
		content: "" 
		display: none 
		height: 1px 
		left: 0 
		position: absolute 
		right: 0 
	::-webkit-scrollbar 
		height: 15px 
		width: 15px 
	::-webkit-scrollbar-button 
		height: 0 
		width: 0 
	::-webkit-scrollbar-thumb 
		background-clip: padding-box 
		background-color: rgba(0, 0, 0, 0.3) 
		border: 5px solid transparent 
		-webkit-border-radius: 10px 
		border-radius: 10px 
		min-height: 20px 
		min-width: 20px 
		height: 5px 
		width: 5px 
#gba 
	height: 60px 
.gb_i 
	display: inline-block 
	-webkit-flex: 0 0 auto 
	flex: 0 0 auto 
	-webkit-flex: 0 0 main-size 
	&.gb_wg 
		float: right 
		-webkit-order: 1 
		order: 1 
.gb_xg 
	white-space: nowrap 
.gb_i,
.gb_xg 
	margin-left: 0 !important 
	margin-right: 0 !important 
.gb_sc 
	background-image: url(data:image/png 
	-webkit-background-size: 528px 68px 
	background-size: 528px 68px 
@media (min-resolution: 1.25dppx),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-device-pixel-ratio: 1.25) 
	.gb_sc {
    background-image: url(data:image/png 
.gb_Ta 
	&.gb_i 
		-webkit-flex: 1 1 auto 
		flex: 1 1 auto 
		-webkit-flex: 1 1 main-size 
.gb_Ue 
	line-height: normal 
	position: relative 
	text-align: left 
	&.gb_i 
		-webkit-flex: 0 1 auto 
		flex: 0 1 auto 
		-webkit-flex: 0 1 main-size 
.gb_ig 
	display: inline-block 
	padding: 0 0 0 15px 
	position: relative 
	vertical-align: middle 
.gb_Sf ::-webkit-scrollbar-thumb:active,
.gb_Sf ::-webkit-scrollbar-thumb:hover 
	background-color: rgba(0, 0, 0, 0.4) 
.f6F9Be 
	position: absolute 
	bottom: 0 
	width: 100% 
	background: #f2f2f2 
	line-height: 40px 
	min-width: 1261px 
	border-top: 1px solid #dadce0 
.fbar 
	margin-left: -27px 
	font-size: 14px 
	a 
		text-decoration: none 
		white-space: nowrap 
		color: #70757a 
		&:hover 
			color: #3c4043 
.Fx4vi 
	padding-left: 27px 
	margin: 0 !important 
#fsl 
	white-space: nowrap 
.B4GxFc 
	margin-left: 45px 
.sf-hidden 
	display: none !important 
.Q8LRLc 
	font-size: 15px 
.b0KoTc 
	color: rgba(0, 0, 0, 0.54) 
	padding-left: 27px 
.b2hzT 
	border-bottom: 1px solid #dadce0 
