{% extends "auctions/layout.html" %}
{% block body %}
<div class="row">
    <div class="col">
        <div class="card-deck">
            {% for listing in listings  %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card" style="max-width: 400px;">
                    <div class="card-header">
                        <a href="{% url 'listing' listing.id %}" class="card-link">
                            <h5 class="card-title">{{ listing.title }}</h5>
                        </a>
                    </div>
                    <img class="img-fluid" src="{{ listing.image.url }}" alt="{{ listing.image.url }}">
                    <div class="card-body">
                        <p class="card-text">{{ listing.description }}</p>
                        <li class="list-group-item"> Starting Bid: ${{ listing.startingBid }}</li>
                        <li class="list-group-item"> Current Bid: ${{ listing.currentBid }}</li>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created: {{ listing.created }}</small>
                    </div>
                </div>
            </div>
            {% empty %}
            <h3 class="m-3">There are no Listings in your Watchlist yet.</h3>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}