/* body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
} */

html {
    background: url(img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
    /* height of sticky header and footer to not overlap the content */
    scroll-padding-top: 70px;
    scroll-padding-bottom: 70px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;
}

footer{
    position: fixed;
    Width: 100%;
    bottom: 0;
}
/* same as the above but for small devices  */

@media screen and (max-width: 768px) {
    body {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}